{% block link_buttons %}
{% spaceless %}
<ul{{ block('attributes') }}>
    {% for link in links %}
        <li>{{ block('link_button') }}</li>
    {% endfor %}
</ul>
{% endspaceless %}
{% endblock link_buttons %}

{% block link_button %}
{% spaceless %}
<a class="social-link-button social-link-{{ link.name }}" href="{{ link.url }}" title="{{ link.title }}">
    <i class="{{ icon_prefix ~ link.icon }}"></i>
</a>
{% endspaceless %}
{% endblock link_button %}

{% block share_buttons %}
{% spaceless %}
<ul{{ block('attributes') }}>
    {% for button in buttons %}
        <li>{{ block('share_button') }}</li>
    {% endfor %}
</ul>
{% endspaceless %}
{% endblock share_buttons %}

{% block share_button %}
{% spaceless %}
<a class="social-share-button social-share-{{ button.name }}" href="{{ button.url }}" title="{{ button.title }}">
    <i class="{{ icon_prefix ~ button.icon }}"></i>
</a>
{% endspaceless %}
{% endblock share_button %}

{% block attributes %}
{% for key, value in attr %} {{ key }}="{{ value }}"{% endfor %}
{% endblock attributes %}
